<div class="header-main" id="sticky">
    <div class="container-fluid pd">
        <div class="header-main-left d-flex align-items-ct justify-sb">
            <div class="logo">
                <img src="/assets/images/header/logo.png" height="45px" alt="">
            </div>
            <div class="user d-flex align-items-ct">
                <div class="user-logo">
                    <img src="{{admin.image}}" alt="">
                </div>
                <p class="user-name ml-2">{{admin.name}}</p>
            </div>
        </div>
    </div>
</div>