<footer>
    <div class="new-part">
        <div class="container-fluid">
            <div class="row justify-content-sb align-items-ct">
                <div class="col-lg-6 col-md-6">
                    <h2>Get 20% Discount For Subscriber</h2>
                    <p>
                        Lorem ipsum dolor consectetur adipisicing accusantium</p>
                </div>
                <div class="col-lg-6 col-md-6  mt-2 mb-2">
                    <div class="nav-form d-flex justify-content-sb">
                        <input type="text" class="col-lg-8 w-100" placeholder="Enter Your Email Address">
                        <a class="" href="">@ subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-part">
        <div class="container-fluid">
            <div class="row">
                <div class="intro-content d-flex col-lg-3 col-md-6">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                        <div class="intro-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>

                    <div class="intro-content col-lg-9">
                        <h5>Free Home Delivery</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
                <div class="intro-content d-flex col-lg-3 col-md-6">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                        <div class="intro-icon">
                            <i class="fa-solid fa-arrow-rotate-left"></i>
                        </div>
                    </div>

                    <div class="intro-content col-lg-9">
                        <h5>Instant Return Policy</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
                <div class="intro-content d-flex col-lg-3 col-md-6">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                        <div class="intro-icon">
                            <i class="fa-solid fa-headset"></i>
                        </div>
                    </div>

                    <div class="intro-content col-lg-9">
                        <h5>Quick Support System</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>
                <div class="intro-content d-flex col-lg-3 col-md-6">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                        <div class="intro-icon">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                    </div>

                    <div class="intro-content col-lg-9">
                        <h5>Secure Payment Way</h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="footer-part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img src="https://mironmahmud.com/greeny/assets/ltr/images/logo.png" alt="">
                        </div>
                        <div class="footer-desc">
                            <p>Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor
                                perspiciatis sit ipsum dolor amet.</p>
                        </div>
                        <div class="footer-social d-flex align-items-ct">
                            <div class="icon-social d-flex align-items-ct">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon-social d-flex align-items-ct">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon-social d-flex align-items-ct">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                            <div class="icon-social d-flex align-items-ct">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="icon-social d-flex align-items-ct">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">
                            contact us
                        </h3>
                        <ul>
                            <li class="d-flex align-items-ct">
                                <i class="fa-solid fa-at"></i>
                                <p><span class="d-block">support@example.com</span>
                                    <span>carrer@example.com</span>
                                </p>
                            </li>
                            <li class="d-flex align-items-ct">
                                <i class="fa-solid fa-mobile-screen"></i>
                                <p><span class="d-block">+120 279 532 13</span>
                                    <span>+120 279 532 14</span>
                                </p>
                            </li>
                            <li class="d-flex align-items-ct">
                                <i class="fa-solid fa-location-dot"></i>
                                <p><span class="d-block">1Hd- 50, 010 Avenue, NY</span>
                                    <span>90001 United States</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">
                            quick Links
                        </h3>
                        <div class="footer-link d-flex justify-content-sb">
                            <ul class="col-lg-6 col-md-6 col-sm-6">
                                <li>
                                    <a href="">My Account</a>
                                </li>
                                <li>
                                    <a href="">Order History</a>
                                </li>
                                <li>
                                    <a href="">Order Tracking</a>
                                </li>
                                <li>
                                    <a href="">Best Seller</a>
                                </li>
                                <li>
                                    <a href="">New Arrivals</a>
                                </li>
                            </ul>
                            <ul class="col-lg-6 col-md-6 col-sm-6">
                                <li><a href="">Location</a></li>
                                <li><a href="">Affiliates</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Carrer</a></li>
                                <li><a href="">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">
                            Download App
                        </h3>
                        <p>Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi autem obcaecati minus ducimus
                            totam reprehenderit exercitationem!</p>
                        <div class="footer-app d-flex">
                            <div class="col-lg-6 ">
                                <img class=" img-app"
                                    src="https://mironmahmud.com/greeny/assets/ltr/images/google-store.png" alt="">
                            </div>
                            <div class="col-lg-6 ">
                                <img class="img-app"
                                    src="https://mironmahmud.com/greeny/assets/ltr/images/app-store.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-sb align-items-ct">
                <div class="bottom-content col-lg-6 col-md-6 col-sm-12">
                    <p>© All Copyrights Reserved by <a href="#">Mironcoder</a></p>
                </div>
                <div class="footer-card col-lg-6 col-md-6 col-sm-12 ">
                    <img src="https://mironmahmud.com/greeny/assets/ltr/images/payment/jpg/01.jpg" alt="">
                    <img src="https://mironmahmud.com/greeny/assets/ltr/images/payment/jpg/02.jpg" alt="">
                    <img src="https://mironmahmud.com/greeny/assets/ltr/images/payment/jpg/03.jpg" alt="">
                    <img src="https://mironmahmud.com/greeny/assets/ltr/images/payment/jpg/04.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>